<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="hibernate.connection.driver_class">org.mariadb.jdbc.Driver</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/review?createDatabaseIfNotExist=true</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.connection.autocommit">true</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MariaDB103Dialect</property>
  <property name="hibernate.show_sql">true</property>
  <property name="hibernate.hbm2ddl.auto">update</property>
  <property name="hibernate.format_sql">false</property>
  <property name="hibernate.generate_statistics">false</property>
  <mapping class="control.Usuario"/>
  <mapping class="control.Produto"/>
  <mapping class="control.Transacoes"/>
  <mapping class="control.Saldo"/>
 </session-factory>
</hibernate-configuration>
